
    <div class="m-content">
            <div class="row">
                    <div class="col-lg-12">
                        <!--begin::Portlet-->
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title  ">
                                        <h3 class="m-portlet__head-text ">
                                           ค้นหาพนักงาน
                                        </h3>
                                    </div>
                    
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <h1 mat-dialog-title>สวัสดี</h1>
                                <div mat-dialog-content>
                                <p> </p>
                                </div>
                                <div mat-dialog-actions>
                                <button mat-button   (click)="onNoClick()"  class="btn btn-danger" >ไม่เป็นไร, ขอบคุณ</button>
                                <button mat-button   cdkFocusInitial  class="btn btn-success"> ตกลง </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
</div>
