<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <span class="m-nav__link-text">
                        ระบบเงินเดือน
                    </span>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <span class="m-nav__link-text">
                        Master
                    </span>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="/born" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Type of Payment[born]
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title  ">
                            <h3 class="m-portlet__head-text ">
                                Type of Payment [born]
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <div class="form-group  m-form__group row">
                        <label class=" col-lg-3 col-form-label label-right " for="dateborn">เกิดเมื่อ</label>
                        <div class=" col-lg-2">
                            <div class="input-group ">
                                <input type="text" class="form-control" id="dateborn" name="dateborn" 
                                bsDatepicker (ngModelChange)="getBorn($event)" [(ngModel)]="dateborn"
                                [value]="dateborn | thaidate:''" required
                                />
                            </div>

                        </div>

                        <label class=" col-form-label label-right " for="old">อายุ :</label>
                        <div class="col-lg-4">
                            <input class="form-control" type="text" id="birthStr" name="birthStr" required [(ngModel)]="birthStr" disabled>
                        </div>

      

                    </div>
                </div>

            </div>
        </div>


    </div>